# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

!data/dummy_data.csv


# Virtual environment / conda
env/
venv/
*.conda
*.env
*.ipynb_checkpoints

# Output folder
output/
*.csv
*.json
*.log

# Hugging Face cache
.cache/huggingface/
*.bin
*.pt

# Slurm / HPC logs
slurm-*.out
slurm-*.err

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
